<div class="container">
	<form class="form-singin">
		<h2 class="form-signin-heading">Please, sign in</h2>
		<input type="text" class "input-block_level" placeholder="Email address">
		<input type="text" class="input-block_level" placeholder="Password">
		<div><%= link_to "register", '#', class: "register" %></div>
		<div><%= link_to "Sign in", '#', class: "btn btn-large btn-primary signin" %></div>
	</form>
</div>
